<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Regeln für RTD2660Flash" Description="Codeanalyseregeln für RTD2660Flash.csproj." ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE1006" Action="None" />
  </Rules>
</RuleSet>